:root {
    --white: #fff;
    --blue: #16525f;
    --teal: #84C0C6;
    --grey:#9FB7B9;
    --ash-grey: #BCC1BA;
    --pink: #CC444B;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    background-color: var(--white);
    margin-bottom: 2rem;
}

h1{
    font-size: 2.2rem;
    color: var(--blue);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--teal);
    align-items: center;

}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: .3rem;
    margin: .5rem 1.5rem;
}

.multiCatFetch {
    grid-area: 1 / 1 / 2 / 2;
    width: 45%;
}
.cat-number {
    left:0rem;
}

.catBreed{
    grid-area: 1 / 2 / 2 / 3;
    width: max-content;
}
select {
    background-color: #b2dbdf75;
    color: var(--blue);
    border-radius: 0.3rem;
}
.random {
    grid-area: 1 / 3 / 3 / 4;
}
.favorites{
    grid-area: 1 / 4 / 4 / 5;
}
.catPhotoContainer{
    grid-area: 2;
}
.card {
    width: 20rem;
    height: 95%;
}
.nav-btn{
    background: none;
}
button {
    background: var(--blue);
    border: none;
    color: var(--white);
    border-radius: .3rem;
}
button:hover {
    background: var(--teal);
}
.placeholder { 
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
#catPhotoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-btn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.likeBtn {
    border-radius: .3rem;
    margin: .1rem;
    width: max-content;
    color: var(--pink);
    background: none;   
}
.likeBtn:hover {
    background: var(--grey);
    color: var(--white);
}