:root {
    --white: #fff;
    --blue: #16525f;
    --teal: #84C0C6;
    --grey:#9FB7B9;
    --ash-grey: #BCC1BA;
    --pink: #CC444B;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    background-color: var(--white);
}

h1{
    font-size: 2.2rem;
    color: var(--blue);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--teal);
    align-items: center;

}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: .3rem;
    margin: .5rem 1.5rem;
}

.multiCatFetch {
    grid-area: 1 / 1 / 2 / 2;
}
.catBreed{
    grid-area: 1 / 2 / 2 / 3;
}
.random {
    grid-area: 1 / 3 / 3 / 4;
}
.favorites{
    grid-area: 1 / 4 / 4 / 5;
}

.catPhotoContainer{
grid-area: 2 / 1 / 1 / 2;
}

button {
    background: none;
    border: none;
    color: var(--blue);
    border-radius: .3rem;
}
button:hover {
    color: var(--pink);
}

.placeholder { 
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

#catPhotoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 3 / 1 / 6 / 6;
}

.card {
}

.likeBtn {
    border-radius: .3rem;
    margin: .1rem;
    width: max-content;
    color: var(--pink);
    background: none;   
}

.likeBtn:hover {
    background: var(--grey);
    color: var(--white);
}