:root {
    --white: #fff;
    --blue: #16525f;
    --teal: #84C0C6;
    --grey: #9FB7B9;
    --ash-grey: #BCC1BA;
    --pink: #CC444B;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button {
    background: var(--blue);
    border: none;
    color: var(--white);
}

.placeholder { 
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

#filterList {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align {
    text-align: center;
}

.favorite {
    display: flex;
    align-items: center;
} 

nav {
    display: flex;
}

#joke{
    text-align: center;
}
