:root {
    --white: #fff;
    --blue: #3d5170;
    --grey: grey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
    background-color: antiquewhite;
}

#filterList {
    display:flex;
    padding: 10px;
}
    
nav {
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.align{
    text-align: center;
}
    
.header{
    display: flex;
    justify-content: space-between;
}

.favorite{
    display: flex;
    align-items: center;
}
