:root {
    --white: #fff;
    --blue: #16525f;
    --teal: #84C0C6;
    --tealOpaque: #84c0c687;
    --grey: #9FB7B9;
    --ash-grey: #BCC1BA;
    --pink: #CC444B;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    background-color: var(--white);
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.2rem;
    color: var(--blue);
}
h2 {
    padding-left: 3rem;
    font-size: 2rem;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--teal);
    align-items: center;
}
.nav-btn {
    background: none;
    border: none;
}
/* navigation header
navigation links
like buttons 
card layout */
.favorite-column{
background: var(--tealOpaque);
}
button {
    background: var(--blue);
    border: none;
    color: var(--white);
    border-radius: .3rem;
    margin: .3rem;
    height: 3rem;
}

button:hover {
    background: var(--teal);
}

.like-btn {
    margin: .1rem;
    width: max-content;
    color: var(--pink);
    background: none;
}

.like-btn:hover {
    background: var(--grey);
    color: var(--white);
}