:root {
    --white: #fff;
    --blue: #3d5170;
    --grey: grey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button {
    background: var(--blue);
    border: none;
    color: var(--white);
}

.placeholder { 
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
img {
    width: 25vw;
    height: 50vh;
    border-radius: .5rem;
}
#catPhotoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.likeBtn {
    border-radius: .3rem;
    margin: .1rem;
    width: max-content;
}
.likeBtn:hover {
    background: var(--grey);
}
